// colors
$color-background-site: #111115;
$color-background-section: #1c1d1f;
$color-light-gray: #c7c7d2;
$color-focus: #0000ff;
$color-button-hover: #54c04a;
$color-input: #0B3948;
$color-X: #0B3948;
$color-red : #7e1e25;

// font-size
$font-size-xs: 1.4rem;
$font-size-s: 1.6rem;
$font-size-m: 1.8rem;
$font-size-l: 2.2rem;

// font-family
$font-family-default: 'Lato',
'Helvetica',
sans-serif;