@import '_variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: $color-background-site;
  color: $color-light-gray;
  font-family: $font-family-default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 15px;
}

.header {
  flex-basis: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  position: relative;

  &__logo {
    height: 40px;
  }
}

.nav {
  width: 100%;
}

.nav__list {
  display: none;
  margin: 30px 0;
  padding: 10px;

  &--active {
    text-align: center;
  }
}

.nav__item {
  margin: 6px 0;
  border-bottom: 2px solid $color-background-section;
  list-style: none;
}

.nav__link {
  color: $color-light-gray;
  font-size: $font-size-m;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav__icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;

  &:hover {
    color: #ddd;
  }

  &--bar {
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: $color-light-gray;
    transition: .4s;
  }
}

.change {
  & .nav__icon--bar1 {
    transform: rotate(-45deg) translate(-3px, 10px);
  }

  & .nav__icon--bar2 {
    opacity: 0;
  }

  & .nav__icon--bar3 {
    transform: rotate(45deg) translate(-3px, -10px);
  }
}

.initial-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  font-size: $font-size-xs;

  &__fieldset {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 15px 25px 30px 25px;
    background-color: $color-background-section;
    border-radius: 20px;
  }

  &__legend {
    font-size: $font-size-s;
  }

  &__textarea {
    height: 50px;
    width: 100%;
    padding: 3px;
    background-color: $color-light-gray;
    font-family: $font-family-default;
    font-size: $font-size-xs;
    border: none;
    resize: none;

    &:focus {
      box-shadow: 0 0px 4px $color-focus inset;
      outline: 0 none;
    }
  }

  &__label--offset {
    padding-top: 20px;
  }

  &__buttons {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
  }
}

.input-data {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__input {
    width: 40px;
    margin-left: 15px;
    padding: 3px;
    border: none;
    background-color: $color-light-gray;
    font-size: $font-size-s;
    text-align: center;

    &:focus {
      box-shadow: 0 0px 4px $color-focus inset;
      outline: 0 none;
    }

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &__dfn {
    position: relative;
    padding-right: 10px;

    &::after {
      content: attr(data-info);
      position: absolute;
      top: 20px;
      left: -10px;
      width: 80vw;
      padding: 10px;
      opacity: 0;
      background: $color-light-gray;
      color: $color-background-site;
      border-radius: 10px;
      font-size: $font-size-xs;
      line-height: 1.4em;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 3px;
      opacity: 0;
      border: solid transparent 5px;
      border-bottom-color: $color-light-gray;
      transition: opacity .3s, top .3s;
    }

    &:hover {
      z-index: 2;

      &::after,
      &::before {
        opacity: 1;
      }

      &::after {
        top: 30px;
      }

      &::before {
        top: 20px;
      }
    }
  }

  &--offset {
    margin: 20px 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.fa-question-circle {
  transition: transform .2s;

  &:hover {
    transform: scale(1.2);
    color: #fff;
    cursor: pointer;
  }
}

.button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: $color-light-gray;
  border: none;
  border-radius: 5px;
  font-size: $font-size-s;
  transition: .3s;

  &:focus {
    box-shadow: 0 0px 4px $color-focus inset;
    outline: 0 none;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-button-hover;
    transition: .3s;
  }

  &[disabled] {
    cursor: default;
    background-color: $color-light-gray;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.main {
  flex-grow: 1;
  padding: 30px 0;

  &__header {
    text-transform: uppercase;

    &--start {
      margin-bottom: 20px;
      font-size: $font-size-l;
      text-align: center;
    }
  }

  &__text {
    margin-top: 3px;
    font-size: $font-size-xs;

    &--start {
      font-size: $font-size-s;
      letter-spacing: .05rem;
    }

    &--italic {
      font-style: italic;
    }

    &--li {
      list-style-position: inside;
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0;
  }

  &__table-result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
  }

  &__part {
    margin-top: 20px;
  }

  &__chart-container {
    width: 90vw;
    margin: 20px auto;
  }
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  font-size: $font-size-xs;

  &__caption {
    padding-bottom: 10px;
    font-size: $font-size-m;
    text-transform: uppercase;
  }

  &__row:nth-child(odd) {
    background-color: $color-background-section;
  }

  &__data {
    border: 1px solid $color-light-gray;
    text-align: center;

    &--padding {
      padding: 5px 15px;
    }

    &--border {
      border: 2px solid $color-input;
    }

    &--select-angle {
      width: 100%;
      height: 24px;
      padding: 1px;
      color: $color-light-gray;
      background-color: transparent;
      border: none;
      font-size: $font-size-xs;
      text-align-last: center;
    }

    &--option {
      background-color: $color-background-site;
    }

    &--input {
      height: 24px;
      width: 100%;
      max-width: 50px;
      color: $color-light-gray;
      background-color: transparent;
      border: none;
      font-size: $font-size-xs;
      text-align: center;
    }

    &--wide-input {
      max-width: 90px;
    }

    &--width {
      max-width: 180px;
    }
  }
}

.output-data {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 20px 10px;
  background-color: $color-background-section;
  border-radius: 20px;

  &__header {
    font-size: $font-size-m;
  }

  &__text {
    font-size: $font-size-m;
  }
}

.footer {
  flex-basis: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__copyright {
    font-size: $font-size-xs;
    text-align: center;
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  width: 90vw;
  max-height: 70%;
  height: 80%;
  margin: 20px auto;
  padding: 15px;
  background: $color-light-gray;
  border-radius: 10px;
  transition: all 5s ease-in-out;

  &__header {
    padding-bottom: 10px;
    color: $color-background-site;
    font-size: $font-size-m;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: $color-background-site;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      color: $color-X;
    }
  }

  &__content {
    max-height: 95%;
    padding-right: 10px;
    overflow: auto;
    color: $color-background-section;
    font-size: $font-size-xs;
    line-height: 1.3em;

    &--bold {
      font-weight: 700;
    }
  }

  &__img {
    width: 100%;
  }
}

.warning {
  margin: 30px;
  color: $color-red;
  font-size: $font-size-l;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.report {
  display: none;
  padding: 20px 0;
  border-bottom: 1px solid #000;

  &__header {
    padding-top: 10px;
    font-size: $font-size-s;
    text-transform: uppercase;

    &--big {
      margin: 5px 0 30px;
      font-size: $font-size-l;
      text-transform: uppercase;
      text-align: center;
      text-decoration: underline;
    }

    &--medium {
      font-size: $font-size-m;
      text-transform: uppercase;
    }
  }

  &__text {
    font-size: $font-size-xs;

    &--italic {
      font-style: italic;
    }
  }

  &__logo {
    height: 40px;
  }

  &__standards {
    display: none;
    border-top: 1px solid #000;
    border-bottom: none;
  }

  &__footer {
    display: none;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
}

@import '_media-queries';
@import '_print';